$theme-color:          #1cad7e; // dark green
$lighter-text-color:   #aaaaaa;

.upload {
  li {
    border-top: 1px dashed $lighter-text-color;
    list-style: none;
    padding: 4px;

    &:last-child {
      border-bottom: 1px dashed $lighter-text-color;
    }
  }

  .progressbar {
      background: $lighter-text-color;
      float: right;
      height: 5px;
      width: 100px;

     .progress {
        background-color: $theme-color;
        height: 10px;
     }
  }

  .browse {
    color: $theme-color;
    cursor: pointer;
    font-size: 15px;
    text-decoration: underline;
  }

  .filemeta {
    color: $lighter-text-color;
    font-size: 14px;
    .filename {}
    .fileinfo {
      span {}
      .delete-link { color: #307ea9; }
    }
  }
}