.uploader a {
  cursor: pointer; }
.uploader .browse {
  color: #08a31b;
  font-size: 12px; }
.uploader .list {
  list-style: none; }
  .uploader .list li {
    width: 30%; }
    .uploader .list li .file-meta span {
      margin: 2px; }
      .uploader .list li .file-meta span a {
        font-size: small; }
    .uploader .list li progress {
      height: 2px;
      width: 100%; }
